node_modules
dist
.env
.DS_Store
.vscode
.idea
coverage
npm-debug.log
yarn-error.log
*.log
*.tsbuildinfo
/build
/out
/.next
/.nuxt
/.cache
/.parcel-cache
/.turbo
/.pnp.cjs
/.pnp.loader.mjs
/.yalc
/.serverless
/.firebase
/.vercel
/.expo
/.husky/_/
/logs
/tmp
/temp
*.local
*.swp
*.swo
*.bak
